<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root1234</property>
        <!--<property name="connection.username">root</property>-->
        <!--<property name="connection.password">root1234</property>-->

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!--设置事务隔离级别-->
        <!--<property name="connection.isolation">2</property>-->

        <!--删除对象，使其OID置为NULL-->
        <!--<property name="hibernate.use_identifier_rollback">true</property>-->

        <!--配置C3P0数据源-->
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.min_size">2</property>
        <property name="hibernate.c3p0.acquire_increment">2</property>
        <property name="hibernate.c3p0.idle_test_period">100</property>
        <property name="hibernate.c3p0.timeout">90</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.jdbc.fetch_size">100</property>
        <property name="hibernate.jdbc.batch_size">30</property>

        <!--ORM映射关系-->
        <mapping class="com.self.learning.manyToOneBoth.Customers"/>
        <mapping resource="com.self.learning/manyToOneBoth/Customers.hbm.xml"/>
        <mapping class="com.self.learning.manyToOneBoth.Orders"/>
        <mapping resource="com.self.learning/manyToOneBoth/Orders.hbm.xml"/>
        <!--<mapping resource="com.self.learning/oneToOne.foreign/Deptment.hbm.xml"/>-->
        <!--<mapping resource="com.self.learning/oneToOne.foreign/Manager.hbm.xml"/>-->
        <mapping resource="com.self.learning/oneToOne.primary/Deptment.hbm.xml"/>
        <mapping resource="com.self.learning/oneToOne.primary/Manager.hbm.xml"/>
        <mapping resource="com.self.learning/manyToMany/Categorys.hbm.xml"/>
        <mapping resource="com.self.learning/manyToMany/Items.hbm.xml"/>
        <!--<mapping resource="com.self.learning/manyToMany/Category.hbm.xml"/>-->
        <!--<mapping resource="com.self.learning/manyToMany/Item.hbm.xml"/>-->
        <!--<mapping class="com.self.learning.entity.News"/>-->
        <!--<mapping resource="com.self.learning/entity/News.hbm.xml"/>-->
        <!--<mapping class="com.self.learning.entity.Worker"/>-->
        <!--<mapping resource="com.self.learning/entity/Worker.hbm.xml"/>-->
        <!--<mapping class="com.self.learning.mayToOne.Customers"/>-->
        <!--<mapping resource="com.self.learning/manyToOne/Customers.hbm.xml"/>-->
        <!--<mapping class="com.self.learning.mayToOne.Orders"/>-->
        <!--<mapping resource="com.self.learning/manyToOne/Orders.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>